#header-id {
    background-color: white;
}

#footer-id {
    background-color: white;
    color: black;
}

#main-container {
    background-color: #008ddd;
    height: 650px;
    width: 100%;
}

html * {
    font-family: 'Lato', sans-serif;
}

.navbar-custom-text {
    color: black;
    margin-right: 1em;
}

.page_link {
    padding: 10px;
    background-color: #ffffff;
    border-style: solid;
    border-left-width: 0;
    border-width: 1px;
    border-color: #eef0f2;
}

.prev_link {
    padding: 10px;
    background-color: #ffffff;
    border-style: solid;
    border-right-width: 0;
    border-width: 1px;
    border-color: #eef0f2;
}

.next_link {
    padding: 10px;
    background-color: #ffffff;
    border-style: solid;
    border-left-width: 0;
    border-width: 1px;
    border-color: #eef0f2;
}

#news-content {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background-color: #008ddd;
}


